<!--Beware of little expenses. A small leak will sink a grate ship-->

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Description</th>
      <th scope="col">Income</th>
      <th scope="col">Expenditure</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records; let i = index;">
      <td>{{ i + 1 }}</td>
      <td>{{ record.incomeDescription }}</td>
      <td>{{ record.incomeAmount }}</td>
      <td>-</td>
    </tr>
  <!--   <tr>
      <td></td>
      <td><b>Totals</b></td>
      <td><strong>{{totalIncome | currency:'INR'}}</strong></td>
      <td><strong>{{ totalExpense | currency:'INR'}}</strong></td>
    </tr>
    <tr>
      <td></td>
      <td><b>Balance</b></td>
      <td rowspan="2"></td>
      <td><strong>{{totalIncome - totalExpense  | currency:'INR'}}</strong></td>
    </tr>  -->
  </tbody>
</table>    
